.container {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

button:hover, a:hover {
    cursor: pointer;
}

.left-container {
    /* border: 1px solid red; */
    width: 15vw;
    height: 100vh;
    padding: 2rem 1rem;
    border-right: 1px solid #546881;
}

.left-main {
    /* border: 1px solid gold; */
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-nav-container {
    /* border: 1px solid black; */
    height: 60%;
}

.logo {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 1.5rem;
}

.img-container {
    /* border: 1px solid blue; */
    width: 35%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    /* border: 1px solid black; */
    margin: 1rem 0 1rem .5rem;
    padding: 0;
    display: inline-block;
}

.logo p {
    /* border: 1px solid black; */
    margin: 0;
    font-weight: 600;
    display: block;
}

.nav-container {
    /* border: 1px solid green; */
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

.link {
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    /* border: 1px solid blue; */
    cursor: pointer;
    gap: 1rem;
}

.link a{
    text-decoration: none;
    color: #091E42;
    cursor: pointer;
    gap: 1rem;
}

.link img {
    width: 20px;
}

.sub-link-container {
    display: flex;
    flex-direction: column;
}

.sub-link {
    /* border: 1px solid green; */
    padding-right: 1rem;
    margin: 1rem 3rem 0rem;
    width: 75%;
    gap: 1rem;
    font-size: 18px;
}

.link {
    color: #546881;
    font-weight: 100;
    padding-left: 1rem;
}

.sub-link ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highlight {
    color: #9A4C1E;
    font-weight: 900;
}

.colour {
    color: #546881;
}

.active {
    background-color: #9A4C1E;
    border-radius: 40px;
}

.active p {
    color: white;
    font-weight: 600;
}

.arrow {
    margin-left: 11rem;
}

/* RIGHT */
.right-container {
    width: 80vw;
    height: 100vh;
}

.search-option-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid #EFF1F4;
}

.search-container {
    display: flex;
    gap: 1rem;
    width: 50%;
    padding: 1.5rem;
}

.search-container input {
    width: 80%;
    padding: 12px 38px 12px 15px;
    border: none;
    justify-content: center;
}

.search-container input:hover {
    cursor: text;
}

.options-container {
    /* border: 1px solid red; */
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.settings-alert {
    display: flex;
    gap: 1.5rem;
}

.profile {
    border-radius: 200px;
    width: 40px;
    height: 40px;
}

.heading-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-left: 2rem;
}

.heading-texts {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 75%;
    gap: .5rem;
    /* padding-left: .5rem; */
}

.counter p {
    /* border: 1px solid red; */
    background-color: #f9f5ff;
    color: #93312B;
    align-items: center;
    border-radius: 15px;
    padding: .25rem .5rem;
}

.heading-links {
    display: flex;
    gap: 1rem;
}

.heading-links button, .heading-links a {
    display: flex;
    gap: .5rem;
    border-radius: 5px;
    align-items: center;
}

.export {
    border: 2px solid #EFF1F4;
}

.btn {
    background-color: #fff;
    /* border: none; */
    padding: .5rem 1rem;
}

.new {
    background-color: #6A1039;
    color: #fff;
}

.main-container {
    /* border: 1px solid green; */
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-head {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #EFF1F4;
    position: relative;
}

.main-head p {
    padding-bottom: 18px;
    position: relative;
    bottom: 16px;
    top: 16px;
    color: #546881;
    font-weight: 400;
}

.main-head p::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: -4px; */
    height: 2px;
}

.main-head p {
    display: inline-block;
    vertical-align: bottom;
}

.clicked {
    color: rgb(137, 50, 50);
    border-bottom: 3px solid rgb(137, 50, 50);
    padding-bottom: .5rem;
}

.main-search-container {
    border: 1px solid #EFF1F4;
    border-radius: 8px;
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.main-search-filter {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
}

.main-search {
    width: 50%;
    padding: 12px 38px 12px 15px;
}

.filter-options {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem;
}

.filter-options button {
    border-radius: 7px;
    padding: .5rem 1rem;
}

.filter {
    background-color: #fff;
    color: #546881;
    border: 1px solid #EFEFEF;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.order-grid-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.grid {
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
}

.order {
    border: 1px solid #EFEFEF;
    background-color: #fff;
}

.main-body-container {
    border: 1px solid #EFF1F4;
    border-radius: 5px;
}

.dot-text {
    display: flex;
    gap: .5rem;
    background-color: #ECFDF3;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 40px;
}

.brown {
    background-color: #F5F6F7;
    padding: .25rem .5rem;
    border-radius: 20px;
    font-weight: 500;
    font-weight: 12px;
}

.red {
    background-color: #F7E8EF;
    color: #6A1039;
    border-radius: 20px;
    padding: .25rem .5rem;
    /* font-weight: 600; */
}

.body-head1 {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    align-items: center;
    background-color: #EAECF0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.checkbox-name {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.checkbox-name input {
    /* border: 10px solid red; */
    width: 40px;
    height: 20px;
}

.checkbox-name input:hover {
    cursor: pointer;
}

.name-mail p {
    line-height: 10px;
}

.employeeID {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.idNumber {
    background-color: #F5F6F7;
    color: #091E42;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
}

.role1 {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.role-title {
    display: flex;
    flex-direction: column;
}

.role-title p:first-child {
    color: #42526D;
}

.role-title p:last-child {
    margin-top: 0;
    color: #8993A4;
}

.employee {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    border-bottom: 1px solid #EAECF0;
}

.employee img {
    border-radius: 50%;
    width: 40px;
    background-color: #C7B9DA;
}

.name-text {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFF2EA;
}

.name-text p {
    color: #93312B;
}

.status-info {
    display: flex;
    padding: 1.5rem .25rem;
}

.stat-green {
    display: flex;
    gap: .5rem;
    background-color: #ECFDF3;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 40px;
}

.stat-red {
    display: flex;
    gap: .5rem;
    background-color: #FFF2EA;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 40px;
}

.stat img {
    width: 10px;
    height: 10px;
    margin-top: 1.25rem;
}

.teams1 {
    display: flex;
    align-items: center;
}

.team-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-icon img {
    background-color: #fff;
    height: 20px;
    margin-left: 8rem;
}

.empty-icon img:hover {
    cursor: pointer;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    padding: 1.5rem;
    /* border: 1px solid red; */
    border: 1px solid #EFF1F4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination-container button {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid ;
    height: 45px;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 8px 14px;
}

.pagination {
    display: flex;
    gap: 1rem;
    /* border: 1px solid red; */
}

.number {
    text-align: center;
    width: 60px;
    border-radius: 8px;
}

.number:hover {
    cursor: pointer;
}

.current {
    background-color: #EFF1F4;
}

.body-content {
    border: 1px solid #EFF1F4;
}